/*TicTacToe Styling*/

html body {
  background-color: rgb(30,30,40);
  font-family: "Lucida Console", Monaco, monospace;
  height: 100%;
}

h2 {
  color: rgb(185,185,210);
  text-align: center;
}

#board {
  max-width: 300px;
  max-height: 300px;
  width: 50%;
  height: 50%; /*potentially use padding bottom here for square?*/
  margin: 0 auto;
}

.row {
  height: 33.3%;
  background-color: rgba(200, 0, 0,.5);
}
.col {
  background-color: rgba(0, 200, 0,.5);
  float: left;
  width: 33.3%;
  height: 100%;
}
