/*TicTacToe Styling*/

body {
  background-color: rgb(30,30,40);
  font-family: "Lucida Console", Monaco, monospace;
}

h2 {
  color: rgb(185,185,210);
  text-align: center;
}

#board {
  max-width: 600px;
  max-height: 600px;
  width: 33.3%;
  margin: 0 auto;
}

.row {
  height: 33%;
  background-color: rgba(200, 0, 0,.5);
}
.col {
  background-color: rgba(0, 200, 0,.5);
  float: left;
  width: 33.3%;
  height: 100%;
}


